
 h1, h2, h3, h4 {
          font-family: Verdana;
          font-weight: bold;
          font-size: 14px;
          line-height: 0
      }

      numero-pagina {
         text-align: center;
         font-size: 14px;
         color: #333;
      }

      h5 {
          font-family: sans-serif;
          font-weight: bold;
          font-size: 12px;
          line-height: 0
      }

      h6 {
          font-family: sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          margin: 0
      }

      span {
          font-family: sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 0;
          padding-left: 5px;
          padding-right: 5px
      }

      b {
          font-family: sans-serif;
          font-size: 12px;
          line-height: 0;
          padding-left: 5px;
          padding-right: 5px;
      }

      table {
          font-family: sans-serif;
          font-weight: normal;
          font-size: 13px;
          border-collapse: collapse
      }

      table.totals tr:last-child{
          border-top: 1px solid
      }

      table.totals tr td:nth-child(2){
          text-align:left
      }

      table.totals tr td:nth-child(3),table.totals tr td:nth-child(4){
          text-align:right
      }

      th {
          border: solid thin;
          text-align: center;
          height: 25px;
          padding-left: 5px;
          padding-right: 5px
      }

      td {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px
      }

